@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root{
  min-height: 100%;
}

body{
   background: #000 url('./assets/background.jpg') no-repeat;
   background-size: cover;
   -webkit-font-smoothing: antialiased !important;
}

body, input, button{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.container{
  margin:  80px auto 0;
  max-width: 450 px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content:  center;
}
.content{
  width: 100%;
  background: #fff;
  margin-top: 50px;
  border-radius: 4px;
  padding: 30px;
}